<%- include('../partials/header') %>
<%- include('../partials/navUserShowNtwkBackDev') %>

<main id="centered-page-content-column-box">
	<br>
	<br>
	<h1>Something broke!</h1>
	<img 
		src="/images/i-love-mess.gif" 
		alt="Marie Kondo, exclaiming that she loves mess!"
		id="marerror-kondo"
	>
	<h3><%= errorMsg %> </h3>
	<br>
	<h3><a href="/devices/">Go back to your devices</a></h3>
</main>

<%- include('../partials/footer') %>