<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link 
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" 
    rel="stylesheet"
  >
  <link 
    rel="stylesheet" 
    href="/stylesheets/bitstream-vera-mono.css" 
    type="text/css" 
    charset="utf-8"
  >
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title><%= title %></title>
</head>
<body>