<nav>
	<a href="/networks/" class="nav-btn-container">
		<div class="nav-btn">
			<p class="nav-text os">Show Networks</p>
		</div>
	</a>
	<a href="/devices/new" class="nav-btn-container">
		<div class="nav-btn">
			<p class="nav-text os">Add Device</p>
		</div>
	</a>
</nav>