<nav>
	<% if (user.avatar) { %>
		<div class="user-avatar-container">
		<a href="/users/<%= user._id %>" >
			<img src="<%= user.avatar %>" alt="👤" class="user-avatar-img">
		</a>
	</div>
	<% } else { %>
		<div class="user-avatar-container"></div>
		<a href="/users/<%= user._id %>">
			<h2 class="user-avatar-emoji">👤</h2>
		</a>
	</div>
	<% } %>
	<a href="/networks/" class="nav-btn-container">
		<div class="nav-btn">
			<p class="nav-text os">Show Networks</p>
		</div>
	</a>
	<a href="/devices/" class="nav-btn-container">
		<div class="nav-btn">
			<p class="nav-text os">Show Devices</p>
		</div>
	</a>
</nav>