<div id="bounding-box">
<section id="sign-in-container">
  <h1 class="max">Welcome</h1>
  <h2 class="subhead">Please sign in below to view this page</h2>
	<!-- Sign in with Apple button -->
	<div id="sign-in-with-apple-button" class="signin-button-container">
		<a href="/auth/apple">
			<img src="/images/siwa-button.png" alt="Sign In with Apple button" class="signin-button">
		</a>
	</div>
	<!-- Sign in with Google Button -->
	<div id="sign-in-with-google-button" class="signin-button-container">
		<a href="/auth/google">
			<img src="/images/siwg-button.png" alt="Sign In with Google button" class="signin-button">
		</a>
	</div>
</section>
</div>