<%- include('./partials/header') %>
  <div id="bounding-box">
    <h1 class="os" style="margin: 20px 10px;">015o Directory located is an IP Network/Device directory created by David Stinson for 015o.net and other networks.</h1>
    <a 
      href="https://github.com/DavidStinson/015o-directory" 
      target="_blank"
      class="os"
      style="font-size: 20px;"
    >Learn more about this project here.
    </a>
    <form action="/networks/" method="GET">
      <button 
        type="submit"
        class="submit-button os" 
        style="margin: 10px auto;"
      >CONTINUE</button>
		</form>
  </div> 
</body>
</html>
