body {
  font-family: sans-serif;
  background-color: #1f1e23;
  color: whitesmoke;
  margin: 0;
}
a {
  color: whitesmoke;
}

a:visited {
  color: gray;
}

/* Containers */

.container {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border: 4px whitesmoke solid;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 14px 7px 0px;
}

.new-item-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.show-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 15px;
}

.button-container-lrg {
  width: 283px;
  margin: auto;
}

.single-centered-container-centered-items {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
}

#bounding-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

#centered-page-content-box {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#centered-page-content-column-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#left-page-content-box {
  width: 90vw;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

/* list headers */

.list-head {
  display: grid;
  width: 330px;
  grid-template-rows: 44px 30px;
  grid-template-columns: 180px 150px;
  grid-template-areas:
    "list-name list-name"
    "list-subhead list-head-btn";
}

.list-name {
  grid-area: list-name;
  justify-self: left;
  margin: 0;
  align-self: center;
  font-size: 36px;
  text-decoration: none;
}

.list-subhead {
  grid-area: list-subhead;
  justify-self: left;
  margin: 0;
  align-self: center;
  text-decoration: none;
}
.list-name:visited,
.list-subhead:visited,
.nav-btn-container:visited,
.list-item-head:visited,
.list-item-sub:visited {
  color: whitesmoke;
  text-decoration: none;
}

/* list header button */

.list-head-btn {
  background-color: #1f1e23;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  justify-self: center;
  grid-area: list-head-btn;
  margin: 0;
  color: whitesmoke;
  text-align: center;
  border: none;
  font-size: 16px;
}

.list-head-btn:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

.list-head-delete-btn {
  background-color: #78110a;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  justify-self: center;
  grid-area: list-head-btn;
  margin: 0;
  color: whitesmoke;
  text-align: center;
  border: none;
  font-size: 16px;
}

.list-head-delete-btn:hover {
  background-color: #92140c;
  cursor: pointer;
}

/* list items*/

.list-item {
  border-top: #dcdcdc 1px solid;
  margin-top: 3px;
}

.list-item-head {
  font-size: 20px;
  margin: 10px 0 5px;
  color: whitesmoke;
  text-decoration: none;
  text-align: right;
}

.list-item-sub {
  font-size: 16px;
  margin: 0px 0px 3px;
  color: whitesmoke;
  text-decoration: none;
  text-align: right;
}

/* forms */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  flex-grow: 2;
}

.data-container,
.input-container {
  margin-bottom: 10px;
}

/* nav */

nav {
  margin: 0;
  width: 100vw;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: start;
  align-items: center;
}

.user-avatar-container {
  flex-grow: 99;
}

.nav-btn-container {
  flex-basis: auto;
  color: whitesmoke;
  text-decoration: none;
}

.nav-btn {
  background-color: #1f1e23;
  border-radius: 24px;
  height: 30px;
  flex-basis: auto;
  height: 48px;
  margin-right: 7px;
}

.nav-btn:hover {
  background-color: cornflowerblue;
}

.nav-text {
  line-height: 48px;
  margin: 0 15px;
}

/* font assignment */

.os {
  font-family: "Open Sans", sans-serif;
}

.mono {
  font-family: "bitstream_vera_sans_monoroman", sans-serif;
}

/* TEXT */

/* headers */

.max {
  font-size: 60px;
  font-weight: bold;
  flex-grow: 0.2;
  margin: 20px auto;
  line-height: 55px;
}

.head {
  font-size: 36px;
  flex-shrink: 1;
  text-align: center;
  margin: 10px auto 10px;
}

.subhead {
  font-size: 24px;
  flex-grow: 0.5;
}

/* data */

.show-data {
  text-align: right;
  margin: 0;
}

.show-data-label {
  text-align: right;
  margin-bottom: 1px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
}

.show-data-center {
  text-align: center;
  margin: 0;
  font-size: 28px;
  background-color: #1f1e23;
}

.show-data-label-center {
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  background-color: #1f1e23;
}

/* BUTTONS */

/* sign in buttons */
.signin-button,
.signin-button-container {
  width: 230px;
  height: 44px;
  border-radius: 5px;
}

.signin-button-container {
  margin: 4px;
}

/* large buttons */

.logout-button,
.submit-button,
.update-button {
  width: 283px;
  height: 44px;
  font-size: 24px;
  font-weight: bold;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* logout */

.logout-button {
  color: white;
  background-color: #78110a;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #92140c;
}

/* submit and update */

.submit-button,
.update-button {
  color: white;
  background-color: #177d4e;
}

.submit-button:hover,
.update-button:hover {
  cursor: pointer;
  background-color: #459771;
}

/* IMAGES */

/* user */

.user-avatar-emoji {
  font-size: 24px;
}

.user-avatar-emoji-lrg {
  font-size: 60px;
  text-align: center;
}

.user-avatar-emoji,
.user-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  font-size: 40px;
  margin: auto 16px;
}

.user-avatar-emoji-lrg,
.user-avatar-img-lrg {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 20px auto;
}

#marerror-kondo {
  width: 250px;
  height: 250px;
  margin: 10px auto;
}

/* text inputs*/

.large-input {
  display: block;
  width: 275px;
  height: 36px;
  font-size: 24px;
}

/* dropdown inputs */
.large-input-dropdown {
  display: block;
  width: 283px;
  height: 44px;
  font-size: 24px;
}

/* misc */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
