<%- include('../partials/header') %>
<%- include('../partials/userBackNtwk') %>

<main id="bounding-box">
	<h1>Something broke!</h1>
	<img 
		src="/images/i-love-mess.gif" 
		alt="Marie Kondo, exclaiming that she loves mess!"
		id="marerror-kondo"
	>
	<h3><%= errorMsg %> </h3>
	<br>
	<h3><a href="/networks">Go back to your networks</a></h3>
</main>

<%- include('../partials/footer') %>